@import 'colors'
@import 'geometry'
@import 'typography'

h1
  color: $header-color
  font-family: $header-font-family
  font-size: $header-font-size
  margin: 0.2rem;

p
  color: $description-color
  font-size: $description-font-size

body
  padding: 0
  margin: 0

.error
  padding: 5px
  margin: 5px
  color: red

.container
  canvas
    display: block
